*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(225, 203, 183, 1);
    height: 100%;
    width: 100%;
}

.header_container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(252, 248, 247, 1);
    z-index: 10;
}

.header_body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header__logo{
    margin: 0;
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 11;
}

.header__list li{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.3px;
    list-style: none;
    margin-left: 50px;
    position: relative;
    z-index: 10;
}

.header__list li:last-child{
    font-weight: 600;
}


.header__list{
    display: flex;
}

.header__link{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.header_burger{
    display: none;
}



.container{
    padding-top: 100px;
    margin: 0 auto;
    max-width: 1140px;
} 


h1{
    font-size: 60px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    opacity: 0.6;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgba(29, 4, 0, 1);
}

.wrapper{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-wrapper{
    width: 35%;
    height: 100%;
    font-size: 28px;
    line-height: 42px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.left-wrapper__href{
    text-decoration: none;
    color: black;
}

.left-wrapper__href:hover{
    font-weight: 600;
}

.left-wrapper__button{
    width: 280px;
    height: 90px;
    background-color: rgba(225, 203, 183, 1);
    border: 5px solid rgba(82, 66, 63, 1);
    text-align: center;
}

.left-wrapper__button-text{
    text-decoration: none;
    color: black;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0.3px;
}


.right-wrapper{
    width: 65%;
    height: 100%;
} 

.right-wrapper__map{
    width: 100%;
    height: 550px;
}


footer{
    margin-top: 40px;
    height: 240px;
    background-color: rgba(82, 66, 63, 1);
}

.footer-conteiner{
    height: 240px;
    margin: 0 auto;
    width: 1140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(225, 203, 183, 1)
}

.footer-container__div{
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-container__title{
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    margin-bottom: 4px;
}


.footer-container__article{
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    line-height: 22px;

} 

.footer-button {
    width: 200px;
    height: 60px;
    background: rgba(82, 66, 63, 1);
    border: 3px solid rgba(225, 203, 183, 1);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(225, 203, 183, 1);
    letter-spacing: 0.2px;
    margin-left: 10px;
}


br{
    margin-bottom: 4px;
}

input{
    width: 210px;
    height: 60px;
    background: rgba(82, 66, 63, 1);
    border: 2px solid rgba(225, 203, 183, 1);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: rgba(225, 203, 183, 1);
    letter-spacing: 0.2px;
    text-align: center;

}





@media (max-width: 1140px) {

    .header_body{
        height: 80px;
        max-width: 840px;
        margin: 0 auto;
    }
    .header__logo{
        height: 80px;
        width: 80px;
    }

    .header__list li{
        font-size: 14px;
        margin-left: 25px;
    }

    .container{
        max-width: 1140px;
        padding-top: 80px;
/*         text-align: center; */
    }
    
    
    h1{
        font-size: 8vw;
        line-height: 8vw;
        margin-bottom: 40px;
    }
    
    .wrapper{
        width: 100%;
        height: 100vw;
    }
    
    .left-wrapper{
        width: 37%;
        height: 100%;
        font-size: 4vw;
        line-height: 6.5vw;
        letter-spacing: 0.2px;
    }
    
    .left-wrapper__button{
        width: 36vw;
        height: 12vw;
    }
    
    .left-wrapper__button-text{
        font-size: 4.5vw;
    }
    
    
    .right-wrapper{
        width: 57%;
        height: 100%;
    } 
    
    .right-wrapper__map{
        width: 100%;
        height: 97vw;
    }



    footer{
        height: 240px;
        background-color: rgba(82, 66, 63, 1);
    }
    
    .footer-conteiner{
        height: 240px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .footer-container__div{
        width: 22%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .footer-container__title{
        font-size: 1.8vw;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 400;
        margin-bottom: 4px;
    }
    
    
    .footer-container__article{
        font-size: 20px;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 400;
        line-height: 22px;
    
    } 
    
    .footer-button {
        width: 100%;
        font-size: 2vw;
        margin-left: 0px;
        margin-top: 1vw;
    }
    
    input{
        width: 100%;
        height: 60px;
        font-size: 1.8vw;  
    }
}



@media (max-width: 760px) {
    .container{
        width: 100%;
        margin: 0 auto;
        padding-top: 40px;

    }

    .header{
        width: 100vw;
    }
    .header_container{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .header_body{
        height: 50px;
        width: 100%;
        margin: 0 auto;
    }
    .header__logo{
        margin-left: 10px;
        width: 50px;
        height: 50px;
    }

    .header_burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        margin-right: 20px;
        position: relative;
        z-index: 11;
    }
    .header_burger:before,.header_burger:after{
        content:'';
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: all 0.3s ease 0s;
    }

    .header_burger:before{
        top: 0;
    }

    .header_burger:after{
        bottom: 0;
    }

    .header_burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }

    .header_burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }


    .header_burger.active span{
        transform: scale(0);
    }
    .header_burger span{
        position: absolute;
        background-color: black;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    
    .header__menu{
        position: fixed;
        overflow: auto;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(82, 66, 63, 1);
        transition: all 0.5s ease 0s;
        padding: 70px 10px 20px 10px;
        margin-left: 0;

    }

    .header__menu.active{
        top:0;
    }
    .header__list{
        display: flex;
        flex-direction: column;
    }

    .header__list li{
        font-size: 7vw;
        margin: 0px 0px 7vw 0px;
    }
    
    .header__link{
        color: rgba(252, 248, 247, 1);
        text-transform: uppercase;
        text-decoration: none;
    }



    h1{
        font-size: 10vw;
        line-height: 10vw;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .wrapper{
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
        height: 220vw;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-content: center;
        margin-bottom: 10vw;
    }
    
    .left-wrapper{
        width: 100%;
        height: 100%;
        font-size: 6vw;
        line-height: 8vw;
        letter-spacing: 0.1px;
        margin-bottom: 10vw
    }
    
    .left-wrapper__button{
        width: 60vw;
        height: 20vw;
    }
    
    .left-wrapper__button-text{
        font-size: 7vw;
        letter-spacing: 0.3px;
    }
    
    
    .right-wrapper{
        width: 100%;
        height: 100%;
    } 
    
    .right-wrapper__map{
        width: 100%;
        height: 100%;
    }



    footer{
        height: 80vw;
    }
    
    .footer-conteiner{
        height: 80vw;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: none;
        align-items: start;
        align-content: space-around;
    }
    
    .footer-container__div{
        width: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-content: space-around;
    }
    
    .footer-container__title{
        font-size: 4vw;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: 400;
        margin-bottom: 4px;
    }
    
    
    .footer-container__article{
        font-size: 5vw;
        line-height: 5vw;
    } 
    
    .footer-button {
        width: 50%;
        height: 13vw;
        font-size: 4.5vw;
        margin-left: 0px;
    }

    br{
        margin-bottom: 4px;
    }
    
    input{
        width: 50%;
        height: 13vw;
        font-size: 4vw;
        letter-spacing: 0.2px;
        text-align: center;
    }
}


